<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RouteCoinEntities" connectionString="metadata=res://*/RouteCoinModel.csdl|res://*/RouteCoinModel.ssdl|res://*/RouteCoinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[data-source];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>